@import './base.css';

body {
  background: radial-gradient(circle at 20% 20%, rgba(151, 189, 255, 0.5), transparent 45%),
    radial-gradient(circle at 80% 0%, rgba(255, 212, 218, 0.55), transparent 40%),
    radial-gradient(circle at 10% 80%, rgba(143, 237, 213, 0.45), transparent 35%),
    linear-gradient(135deg, #f6f8ff, #fdf8f6 65%);
  padding: 0;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
}
